/* =========================================
   AUTHENTICATION (Login)
   ========================================= */

.auth-container {
    -fx-background-color: linear-gradient(to bottom right, #d30700, #e62222, #f31912);
    -fx-alignment: center;
    -fx-background-radius: 20;
    -fx-padding: 10;
}

#card {
    -fx-background-color: #ffffff;
    -fx-background-radius: 17;
    -fx-padding: 32;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 22, 0.25, 0, 10);
}

#titlelabel {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #A04000;
}

#subtitlelabel {
    -fx-font-size: 14px;
    -fx-text-fill: #7F8C8D;
}

.authlabel {
    -fx-text-fill: #7F8C8D;
    -fx-font-size: 13px;
}

.errorlabel {
    -fx-text-fill: #C0392B;
}

.auth-button {
    -fx-background-color: linear-gradient(to right, #e62522, #d31900);
    -fx-background-radius: 14;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 12 0;
    -fx-cursor: hand;
}

.auth-button:hover {
    -fx-background-color: #A04000;
}

.auth-button:pressed {
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}

/* =========================================
   MENU & TOP BAR (Menu)
   ========================================= */

.menubar-pane {
    -fx-background-color: linear-gradient(to bottom, #A04000, #ca2e2e,#bd3535);
    -fx-min-height: 60px;
}

#menutopbackground {
-fx-background-color: linear-gradient(to right, #faedd3, #f6deb5,#eec99c);
    -fx-border-color: #b07a2a;
    -fx-border-width: 0 0 2 0;
}

.menulabel {
    -fx-padding: 15 20;
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-text-fill: #A04000; /* Texto del label 'Menu' */
    -fx-border-color: transparent;
}

.menulabel:hover {
    -fx-opacity: 0.7;
}

.menu-item {
    -fx-background-color: #27AE60;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 8 20;
    -fx-cursor: hand;
    -fx-border-width: 0;
}

.user-label {
    -fx-background-color: transparent;
    -fx-text-fill: #A04000;
    -fx-font-size: 1.2em;
    -fx-padding: 15 20;
    -fx-font-weight: bold;
}

.exit {
    -fx-cursor: hand;
}

.exit:hover {
    -fx-opacity: 0.6;
}

.sidebar {
    -fx-background-color: #B73229;
}

.sidebar-item {
    -fx-background-color: transparent;
    -fx-text-fill: #FADBD8;
    -fx-font-size: 1.2em;
    -fx-padding: 15 20 15 25;
    -fx-cursor: hand;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-transition: 0.2s;
    -fx-font-weight: bold; 
    -fx-max-width: Infinity;
}

.sidebar-item:hover {
    -fx-background-color: #F9F1E7; 
    -fx-text-fill: #B73229;       
    -fx-background-radius: 30 0 0 30; 
    -fx-background-insets: 0 0 0 10; 
    -fx-margin: 0; 
}

.sidebar-item-active {
    -fx-background-color: #F9F1E7; 
    -fx-text-fill: #B73229;        
    -fx-background-radius: 30 0 0 30;
    -fx-background-insets: 0 0 0 10; 
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, -2, 0);
}

/* =========================================
   VIEWS & ORDER COMPONENTS (FXML Order)
   ========================================= */

.generallabel {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
    -fx-text-fill: #A04000;
    -fx-padding: 10 0;
}

.order-button {
    -fx-background-color: #E67E22;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 8 20;
    -fx-cursor: hand;
}

.order-button:hover {
    -fx-background-color: #D35400;
}

.order-button-active {
    -fx-background-color: #A04000 !important; 
    -fx-text-fill: white !important;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0); /* Efecto de hundido */
    -fx-border-color: #F39C12;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

.generalbutton {
    -fx-background-color: #E67E22;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 10 10 10 10;
    -fx-cursor: hand;
    -fx-transition: 0.3s;
}

.generalbutton:hover {
    -fx-background-color: #A04000; 
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.makeorderbutton {
    -fx-background-color: #27AE60;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-border-color: rgba(255,255,255,0.3);
    -fx-padding: 12 30;
    -fx-cursor: hand;
    -fx-transition: 0.3s;
}

.makeorderbutton:hover {
    -fx-background-color: #1E8449;
    -fx-scale-x: 1.08;
    -fx-scale-y: 1.08;
}

.makeorderbutton:pressed{
    -fx-background-color: #145A32;
}

#stopsales{
    -fx-background-color: #d24444;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-padding: 8 15;
    -fx-cursor: hand;
    -fx-border-color: rgba(255,255,255,0.3);
    -fx-transition: 0.3s;
}
#stopsales:hover{
    -fx-background-color: #dc0000;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}


/* =========================================
   SEGMENTACIONES VISUALES
   ========================================= */

#clientBar {
    -fx-padding: 5 0 10 0;
    -fx-border-color: #E67E22;
    -fx-border-width: 1 0 0 0;
    -fx-border-style: segments(5, 5);
}

/* =========================================
   INPUTS & TEXT FIELDS
   ========================================= */

.text-field {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-border-color: #D5DBDB;
    -fx-border-radius: 10;
    -fx-padding: 10 12;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #AAB7B8;
}

.text-field:focused {
    -fx-border-color: #E67E22;
}

.text-field:disabled, 
.text-field:disabled > .text {
    -fx-opacity: 1.0; 
    -fx-text-fill: #000000;
    -fx-background-color: #F8F9F9; 
}

#salesbackground,#clientsbackground, #orderbackground {
-fx-background-color: linear-gradient(to bottom, #faedd3, #f6deb5,#eec99c);
}

#salestopbackground, #clientstopbackground, #ordertopbackground{
    -fx-border-color: #E67E22;
    -fx-border-width: 0 0 2 0; 
}
#salesbottombackground,#orderbottombackground{
    -fx-border-color: #E67E22;
    -fx-border-width: 2 0 0 0;
}


/* =========================================
   TABLES
   ========================================= */
   
.table {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #D5DBDB;
}

.table .column-header-background {
    -fx-background-color: #A04000;
    -fx-background-radius: 10 10 0 0;
}

.table .column-header {
    -fx-background-color: transparent;
    -fx-size: 40;
}

.table .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table .table-cell {
    -fx-text-fill: #2E4053;
}

.table .table-row-cell:selected {
    -fx-background-color: #ecaf8a;
    -fx-text-fill: #A04000;
}

.table .table-row-cell:filled:hover {
    -fx-background-color: #ecaf8a;
}

/* =========================================
   VISTA: DETALLES DE EFECTIVO (CASH)
   ========================================= */

#cash-root {
    -fx-background-color: #F9F1E7; 
    -fx-border-color: #B73229;
    -fx-border-width: 3;
}

.cash-label {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
    -fx-text-fill: #5D4037;
    -fx-min-width: 200;
}

.cash-field-read {
    -fx-background-color: #EBEDEF;
    -fx-text-fill: #2E4053;
    -fx-font-weight: bold;
    -fx-border-color: #D5C4B0;
    -fx-border-width: 2; 
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-background-insets: 0;
}

.cash-field-input {
    -fx-background-color: white;
    -fx-text-fill: #2E4053;
    -fx-font-weight: bold;
    -fx-border-color: #D5C4B0;
    -fx-border-width: 2;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-background-insets: 0;
}

.cash-field-input:focused {
    -fx-background-color: white;
    -fx-border-color: #3498DB;
    -fx-border-width: 2;      
    -fx-background-insets: 0; 
    -fx-text-fill: #3498DB;
}

.cash-btn-confirm {
    -fx-background-color: #27AE60;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.cash-btn-confirm:hover {
    -fx-background-color: #1E8449;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.cash-btn-cancel {
    -fx-background-color: #C0392B;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.cash-btn-cancel:hover {
    -fx-background-color: #922B21;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

/* =========================================
   VISTA: CORTE DE CAJA (STOPSALES)
   ========================================= */

#stopSales-root {
    -fx-background-color: #F9F1E7;
    -fx-border-color: #B73229;    
    -fx-border-width: 3;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

.stopSales-title {
    -fx-font-size: 1.4em;
    -fx-font-weight: bold;
    -fx-text-fill: #B73229;
}

.stopSales-text {
    -fx-font-size: 1.1em;
    -fx-text-fill: #5D4037;
    -fx-text-alignment: center;
}

.stopSales-btn-confirm {
    -fx-background-color: #27AE60;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-border-width: 2;
    -fx-background-insets: 0;
    -fx-cursor: hand;
}

.stopSales-btn-confirm:hover {
    -fx-background-color: #1E8449;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.stopSales-btn-cancel {
    -fx-background-color: #B73229;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-border-width: 2;
    -fx-background-insets: 0;
    -fx-cursor: hand;
}

.stopSales-btn-cancel:hover {
    -fx-background-color: #922B21;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.stopSales-btn-confirm:focused, .stopSales-btn-cancel:focused {
    -fx-background-insets: 0;
    -fx-border-color: #FF8D4D;
}

/* =========================================
   VISTA: CONFIRMACIÓN DE ORDEN (confirmOrder)
   ========================================= */

#confirmOrder-root {
    -fx-background-color: transparent;
}


#confirmorder-container{
    -fx-background-color: #f5ead2;
    -fx-border-color: #B73229;
    -fx-border-width: 3;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.confirmOrder-header-label {
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
    -fx-text-fill: #B73229;
    -fx-alignment: CENTER;
    -fx-max-width: Infinity;
    -fx-padding: 0 0 10 0;
}

.confirmOrder-label {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
    -fx-text-fill: #5D4037;
    -fx-min-width: 180;
}

.confirmOrder-field-read {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #2E4053;
    -fx-font-weight: bold;
    -fx-border-color: #D5C4B0;
    -fx-border-width: 2;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-background-insets: 0;
}

.confirmOrder-field-total {
    -fx-background-color: #FFFDFB;
    -fx-text-fill: #E67E22;
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-border-color: #E67E22;
    -fx-border-width: 2;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-background-insets: 0;
}

.confirmOrder-btn-success {
    -fx-background-color: #27AE60;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-background-insets: 0;
}

.confirmOrder-btn-success:hover {
    -fx-background-color: #1E8449;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.confirmOrder-btn-back {
    -fx-background-color: #5D4037;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-background-insets: 0;
}

.confirmOrder-btn-back:hover {
    -fx-background-color: #3E2723;
}




/* =========================================
   VISTA: ERROR DE ORDEN (errorOrder)
   ========================================= */

#errorOrder-root {
    -fx-background-color: #F9F1E7; 
    -fx-border-color: #C0392B;     
    -fx-border-width: 3;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
}

.errorOrder-title {
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
    -fx-text-fill: #C0392B;
}

.errorOrder-text {
    -fx-font-size: 1.12em;
    -fx-font-weight: bold;
    -fx-text-fill: #5D4037;
    -fx-text-alignment: center;
}

.errorOrder-btn-confirm {
    -fx-background-color: #E67E22; 
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-border-width: 2;
    -fx-background-insets: 0;
}

.errorOrder-btn-confirm:hover {
    -fx-background-color: #D35400;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.errorOrder-btn-confirm:focused {
    -fx-background-insets: 0;
    -fx-border-color: #C0392B;
}

/* =========================================
   VISTA: ERROR BASE DE DATOS (errorOrderBD)
   ========================================= */

#errorBD-root {
    -fx-background-color: #F9F1E7;
    -fx-border-color: #922B21;    
    -fx-border-width: 4;           
    -fx-background-radius: 12;
    -fx-border-radius: 12;
}

.errorBD-title {
    -fx-font-size: 1.4em;
    -fx-font-weight: bold;
    -fx-text-fill: #922B21; 
}

.errorBD-text {
    -fx-font-size: 1.12em;
    -fx-text-fill: #5D4037; 
    -fx-text-alignment: center;
}

.errorBD-btn-action {
    -fx-background-color: #5D4037;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-border-width: 2;
    -fx-background-insets: 0;
}

.errorBD-btn-action:hover {
    -fx-background-color: #3E2723;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.errorBD-btn-action:focused {
    -fx-background-insets: 0;
    -fx-border-color: #FF8D4D; 
}