/* AUTHENTICATION */

.auth-container{
    -fx-background-color: linear-gradient(to bottom right, #0f2027, #203a43,#2c5364);
    -fx-alignment: center;
    -fx-background-radius: 20;
    -fx-padding: 10;
}
/* CARD */
#card {
    -fx-background-color: #ffffff;
    -fx-background-radius: 17;
    -fx-padding: 32;
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0.25),22,0.25,0,10);
}

/* LABELS */
#titlelabel {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #203a43;
}
#subtitlelabel {
    -fx-font-size: 14px;
    -fx-text-fill: #6b7280;
}

/* FORM */
#authForm {
    -fx-padding: 10 0 0 0;
}


.text-field,.password-field {
    -fx-background-color: #f3f4f6;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color: transparent;
    -fx-padding: 12 14;
    -fx-font-size: 14px;
}

.text-field:focused, .password-field:focused {
    -fx-background-color: #ffffff;
    -fx-border-color: #3b82f6;
    -fx-border-width: 1.5;
}

/* BUTTON */
.auth-button {
    -fx-background-color: linear-gradient(to right,#3b82f6, #2563eb);
    -fx-background-radius: 14;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 12 0;
    -fx-cursor: hand;
}

.menulabel{
    -fx-padding: 15 20;
    -fx-font-size: 1.2em;
    -fx-border-color: transparent;

}

.auth-button:hover {
    -fx-background-color: linear-gradient(to right, #2563eb, #1d4ed8);
}

.auth-button:pressed {
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}

.exit {
    -fx-cursor: hand;
}

.exit:hover {
    -fx-opacity: 0.75;
}

/* FOOTER */
#footerText {
    -fx-text-fill: #6b7280;
    -fx-font-size: 13px;
}

.hyperlink {
    -fx-text-fill: #2563eb;
    -fx-font-weight: bold;
    -fx-border-color: transparent;
}

.hyperlink:hover {
    -fx-text-fill: #1d4ed8;
    -fx-underline: true;
}

/* MENU */

.menulabel:hover{
    -fx-border-color: transparent;
    -fx-opacity: 0.50;
}

.menubar-pane{
    -fx-background-color:  #032d4d;
}

.menu-item {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 1.2em;
    -fx-padding: 15 20;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-border-color: transparent;
    -fx-border-insets: 0;
}

.sidebar{
    -fx-background-color:  #032d4d;
}

.sidebar-item{
    -fx-background-color: transparent;
    -fx-font-size: 1.2em;
    -fx-padding: 15 20;
    -fx-border-width: 0px 0px 0px 3px;
    -fx-border-color: transparent;
}


.sidebar-item:hover{
    -fx-background-color: #146886;
    -fx-border-color: WHITE;
}


